# Unit 24. 문자열 응용하기

In [1]:
'Hello, world!'.replace('world', 'Python')

'Hello, Python!'

In [2]:
x = 'Hello, world!'
x.replace('world', 'Python')

'Hello, Python!'

In [3]:
s = 'Hello, world!'

In [4]:
s

'Hello, world!'

In [5]:
s.replace('world', 'Python')
# 여기서만 값이 바뀐다.

'Hello, Python!'

In [6]:
s # s값은 여전히 'Hello, world'로 나온다.

'Hello, world!'

In [7]:
s = s.replace('world', 'Python')
s # 이런식으로 s를 한번 더 정의 해줘야 s값이 변경된다.

'Hello, Python!'

In [8]:
# 문자 바꾸기
table = str.maketrans('aeiou', '12345')
'apple'.translate(table)

'1ppl2'

In [11]:
# 문자열 분리하기
'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [21]:
'apple, pear, grape, pineapple, orange'.split(', ')  # 빈 공간도 입력해 줘야한다.
# split안에는 'str'안에 들어있는 단어를 나누는 기준을 입력해주는 요소 -> 단어를 분류해줌

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [20]:
fruits = ' '.join(['apple pear grape pineapple orange'])
fruits

'apple pear grape pineapple orange'

In [22]:
'python'.upper()

'PYTHON'

In [23]:
'python'.lower()

'python'

In [27]:
# 공백 삭제
'   Python   '.lstrip() # 왼쪽 공백만 삭제

'Python   '

In [28]:
'   Python   '.rstrip() # 오른쪽 공백만 삭제

'   Python'

In [29]:
'   Python   '.strip() # 모든 공백을 삭제

'Python'

In [32]:
'+-, python.'.lstrip('+-,') # argument를 주는 경우 빈 공간도 같이 넣어줘야 없어짐

' python.'

In [34]:
'+-,. python.'.strip('+-,.')# argument를 주는 경우 빈 공간도 같이 넣어줘야 없어짐

' python'

In [35]:
# 구두점 삭제
import string
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [37]:
'+-,. python.'.strip(string.punctuation) # 빈 공간은 그대로 남아있다.

' python'

In [38]:
'+-,. python.'.strip(string.punctuation + ' ') # 빈공간을 없애주기 위해 ' ' 를 추가

'python'

In [39]:
'+-,. python.'.strip(string.punctuation).strip() method-chaining으로 2번 적용

'python'

In [40]:
# 정렬 ljust()안의 값은 총 칸의 갯수를 의미
'Python'.ljust(10)

'Python    '

In [41]:
'Python'.rjust(10)

'    Python'

In [44]:
'Python'.center(10)

'  Python  '

In [45]:
# 0 채우기 fill()안의 값은 총 칸의 갯수를 의미
'35'.zfill(4)

'0035'

In [46]:
'15'.zfill(2)

'15'

In [49]:
# 문자열 위치 찾기
'apple pineapple'.find('pl')

2

In [50]:
'apple pineapple'.rfind('pl')

12

In [51]:
'apple pineapple'.rfind('xy') # 0 이상인 경우 단어가 있고, 결과값이 -1이면 단어가 없음

-1

In [52]:
'apple pineapple'.index('pl')

2

In [53]:
'apple pineapple'.rindex('pl')

12

In [55]:
# 갯수 세기
'apple pineapple'.count('pl')

2

In [143]:
x = """the grown-ups' response, this time
, was to advise me to lay aside my drawings of boa constrictors,
whether from the inside or the outside,
and devote myself instead to geography, history, arithmetic, and grammar.
That is why, at the, age of six,
I gave up what might have been a magnificent career as a painter.
I had been disheartened by the failure of my Drawing Number One
and my Drawing Number Two. Grown-ups never understand anything by themselves,
and it is tiresome for children to be always 
and forever explaining things to the."""

y = x.split()

lists = []
for i in y:
    lists.append(i)

print(lists.count('the,'))
print(lists.count('the'))
print(lists.count('the.'))

1
4
1

 표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 
각 가격은 ;(세미콜론)으로 구분되어 있습니다.
입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요
(input에서 안내 문자열은 출력하지 않아야 합니다). 
이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

In [156]:
x = [int(i) for i in input('가격입력> ').split(';')]

price_lists = []

for i in x:
    price_lists.append(i)
    
price_lists.sort(reverse=True) 
print(price_lists)

가격입력> 1000;2000;3000;4000;5000
[5000, 4000, 3000, 2000, 1000]