# Unit 30. 위치 인수와 키워드 인수 사용하기

### 위치 인수와 리스트 언패킹

In [1]:
# sep의 default 값은 blank 1칸, end의 default 값은 \n이다
# print (a, b, c <= 이 값은 위치 인수 , sep='', end='' <= 이 값은 키워드 인수)
# 위치 인수 - mandatory(반드시 필요할 때), 키워드 인수 - Option(선택적으로 사용)

In [2]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [3]:
print_numbers(10, 20, 30)    # 위치 그대로 대응이 된다.

10
20
30

In [4]:
x = [10, 20, 30]

print_numbers(*x)

10
20
30

In [5]:
print_numbers(*(40, 50, 60))

40
50
60

In [11]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [12]:
print_numbers(10, 20, 30)

10
20
30

In [13]:
print_numbers(10, 20, 30, 40, 50, 60)

10
20
30
40
50
60

In [14]:
x = [10, 20, 30]

print_numbers(*x)

10
20
30

### 고정 인수와 가변 인수 함께 사용하기

In [18]:
# (a <= 고정인수, *args <= 가변 위치 인수)
# 고정인수는 가변인수 뒤에 올 수 없다!!!

def print_numbers(a, *args):
    print(a)
    for arg in args:
        print(arg)

In [19]:
print_numbers(10, 20, 30, 40, 50)

10
20
30
40
50

### 키워드 인수

In [20]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [21]:
personal_info('홍길동', 30, '서울시 강서구 발산동') # 위치형 인수

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

In [22]:
personal_info(name='홍길동', age=30, address='서울시 강서구 발산동') #

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

In [23]:
personal_info(age=30, address='서울시 강서구 발산동', name='홍길동')

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

### 키워드 인수와 딕셔너리 언패킹

In [24]:
# dictionary의 함수 이름과 키의 함수 이름은 같아야 한다.
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [25]:
hong = {'name': '홍길동', 'age': 30, 'address': '서울시 강서구 발산동'}
personal_info(**hong)

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

In [27]:
personal_info(**{'name': '홍길동', 'age': 30, 'address':'서울시 용산구 이촌동'})

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [28]:
# 'age'부분을 'old'라고 써서 오류가 났다.
personal_info(**{'name': '홍길동', 'old': 30, 'address':'서울시 용산구 이촌동'})

TypeError: personal_info() got an unexpected keyword argument 'old'

In [29]:
# *을 하나 사용하면 Key값이 나온다.
personal_info(*hong)

이름:  name
나이:  age
주소:  address

In [30]:
# **을 두개를 사용해서 value값을 얻을 수 있다.
personal_info(**hong)

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

### 가변 키워드인수를 갖는 함수 만들기

In [31]:
def personal_info(**kwargs):    # Keyword Arguments의 약자가 kwargs이다.
    for keyword, arg in kwargs.items():
        print(keyword, ': ', arg, sep='')

In [32]:
personal_info(**{'name': '홍길동', 'age': 30, 'address':'서울시 용산구 이촌동'})

name: 홍길동
age: 30
address: 서울시 용산구 이촌동

In [33]:
personal_info(**{'name': '홍길동', 'old': 30, 'address':'서울시 용산구 이촌동'})
# key값이 변해도 상관없이 출력된다.

name: 홍길동
old: 30
address: 서울시 용산구 이촌동

In [35]:
personal_info(**{'name': '홍길동', 'old': 30})
# key & value값이 하나 부족해도 출력이 가능하다.

name: 홍길동
old: 30

In [36]:
def personal_info(**kwargs):
    if 'name' in kwargs:    # in으로 딕셔너리 안에 특정 키가 있는지 확인
        print('이름: ', kwargs['name'])
    if 'age' in kwargs:
        print('나이: ', kwargs['age'])
    if 'address' in kwargs:
        print('주소: ', kwargs['address'])

In [40]:
personal_info(**{'name': '홍길동', 'old': 30, 'address':'서울시 강서구 발산동'})
# key값이 다를 경우 무시하고 맞게 적힌 부분만 출력된다.

홍길동
{'old': 30, 'address': '서울시 강서구 발산동'}

### 고정 인수와 가변 인수(키워드 인수)를 함께 사용하기

In [38]:
def personal_info(name, **kwargs):
    print(name)
    print(kwargs)

In [41]:
personal_info('홍길동', age=30, address='서울시 강서구 발산동')

홍길동
{'age': 30, 'address': '서울시 강서구 발산동'}

In [42]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

In [44]:
custom_print(1, 2, 3, sep=':', end='END\n')

1:2:3END

In [45]:
custom_print(1, 2, 3, 4)

1 2 3 4

### 고정인수, 가변 위치인수, 키워드인수 함께 사용하기

In [47]:
def custom_print(a, b, *args, **kwargs):
    print(a, b, *args, **kwargs)

### 매개변수에 초기값 지정하기(Dafault value)

In [48]:
def personal_info(name, age, address='비공개'):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [49]:
personal_info('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [50]:
personal_info('홍길동', 30, '서울시 강서구 발산동')

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

In [51]:
# Default값이 있는 key값이 없는 키 값 앞으로 올 수 없다.
def personal_info(name, address='비공개', age):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

SyntaxError: non-default argument follows default argument (<ipython-input-51-b14afe4a2746>, line 1)

In [52]:
# 만약 address를 age앞에 사용하고 싶으면 age에 Default값을 넣어준다.
def personal_info(name, address='비공개', age=0):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [75]:
# 가장 큰 수 구하기
korean, english, mathematics, science = map(int, input().split())
 
                                             
def get_max_score(*args):
    return max(args)
                                             
 
max_score = get_max_score(korean, english, mathematics, science)
print('높은 점수:', max_score)
 
max_score = get_max_score(english, science)
print('높은 점수:', max_score)

100 81 91 68
높은 점수: 100
높은 점수: 81

In [120]:
# 가장 큰 수, 작은 수, 평균 값 구하기 
korean, english, mathematics, science = map(int, input().split())

def get_max_score(*args):
    return max(args)

def get_min_score(*args):
    return min(args)

def get_average_score(*args):
    sum = 0
    count = 0
    for i in args:
        count = count + 1
        sum = sum + i
    return (sum/count)

min_score = get_min_score(korean, english, mathematics, science)
max_score = get_max_score(korean, english, mathematics, science)
average_score = get_average_score(korean, english, mathematics, science)

print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score = get_min_score(english, science)
max_score = get_max_score(english, science)
average_score = get_average_score(english, science)

print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

100 90 80 70
낮은 점수: 70.00, 높은 점수: 100.00, 평균 점수: 85.00
낮은 점수: 70.00, 높은 점수: 90.00, 평균 점수: 80.00