# Unit 16. for 반복문

In [2]:
for i in range(5):
    print('hello world')

hello world
hello world
hello world
hello world
hello world

In [6]:
for i in range(5):
    print('hello world', i)

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4

In [7]:
sum = 0
for i in range(1,100,2):
    sum += i
print(sum)

2500

In [8]:
for i in range(10, 0, -1):
    print('hello world', i)

hello world 10
hello world 9
hello world 8
hello world 7
hello world 6
hello world 5
hello world 4
hello world 3
hello world 2
hello world 1

In [18]:
for i in reversed(range(5)):    # 5에서부터 -1에서 한 값과 reversed로 range5의 값은 다름
    print('hello world', i)

hello world 4
hello world 3
hello world 2
hello world 1
hello world 0

In [19]:
for i in range(5,0,-1):    # 5에서부터 -1에서 한 값과 reversed로 range5의 값은 다름
    print('hello world', i)

hello world 5
hello world 4
hello world 3
hello world 2
hello world 1

In [20]:
for i in range(5):
    print('Hello world', i)
    i = 5

Hello world 0
Hello world 1
Hello world 2
Hello world 3
Hello world 4

In [21]:
loop = int(input('반복할 횟수> '))
for i in range(loop):
    print('Hello world', i)

반복할 횟수> 3
Hello world 0
Hello world 1
Hello world 2

### Sequence 객체로 반복하기

In [22]:
a = [10, 20, 30, 40, 50]
for element in a:
    print(element,end=' ')

10 20 30 40 50

In [27]:
fruits = ('apple', ' ', 'orange', ' ', 'grape')
for fruit in fruits:
    print(fruit,end='')

apple orange grape

In [24]:
for letter in 'Python':
    print(letter, end=' ')

P y t h o n

In [25]:
for letter in reversed('Python'):
    print(letter, end=' ')

n o h t y P

In [31]:
count = int(input())

for i in range(count):
    print('i의 값은', end=' ')
    print(i)

10
i의 값은 0
i의 값은 1
i의 값은 2
i의 값은 3
i의 값은 4
i의 값은 5
i의 값은 6
i의 값은 7
i의 값은 8
i의 값은 9

In [42]:
count = int(input('1부터 9사이의 정수 입력> '))

for i in range(10):
    print(count,'*',i,'=',count*i, end=' \n')

1부터 9사이의 정수 입력> 4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36