# Unit 22. 리스트와 튜플 응용하기

In [3]:
 a = [10, 20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [4]:
a.append([3, 4])
a

[10, 20, 30, 500, [3, 4]]

In [19]:
import random as rd
randomNum = [] # 강사님은 mat = []을 사용
for i in range(3):
    randomNum.append(dice)
    dice = [] # 강사님은 row = []을 사용
    for i in range(6):
        x = rd.randint(1, 6)
        dice.append(x)  # 강사님은 한줄로 dice.append(rd.randint(1,6))으로 표현
print(randomNum)

[[2, 5, 3, 6, 2, 4], [6, 2, 1, 6, 2, 6], [2, 3, 5, 5, 4, 6]]

In [23]:
def print_matrix(randomNum):
    for dice in randomNum:
        for element in dice:
            print(element, end=' ')
        print()

In [28]:
# Old-fashioned
def print_matrix(randomNum):
    for i in range(len(randomNum)):
        for k in range(len(randomNum[0])):
            print(randomNum[i][k], end=' ')
        print()

In [29]:
print_matrix(randomNum)

2 5 3 6 2 4
6 2 1 6 2 6
2 3 5 5 4 6

In [30]:
# 리스트 엘리먼트 삭제

a.pop() # 뱉어 내면서 삭제

[3, 4]

In [31]:
a

[10, 20, 30, 500]

In [32]:
a.remove(500)
a

[10, 20, 30]

In [34]:
a.index(30)

2

In [44]:
a.append(20)
a

[10, 20, 30, 20]

In [45]:
a.count(20)

2

In [48]:
a.reverse()

In [49]:
a

[20, 30, 20, 10]

In [50]:
a.sort() # 오름차순
a

[10, 20, 20, 30]

In [51]:
a.sort(reverse=True) # 내림차순

In [52]:
a

[30, 20, 20, 10]

In [53]:
a = [10, 20, 30, 15, 20, 40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [58]:
b = [10, 20, 30, 15, 20, 40]
c = sorted(b)
c

[10, 15, 20, 20, 30, 40]

In [57]:
c

[10, 15, 20, 20, 30, 40]

In [55]:
b

[10, 20, 30, 15, 20, 40]

In [62]:
a = [10, 20, 30]
a[3:] = [40]           ## 은근히 많이 사용.(리스트에 추가(몇 번째 어떤걸 추가할 때))

In [63]:
a

[10, 20, 30, 40]

In [66]:
a[4:] = (50,)  # 이런 방식으로 리스트에 추가 역시 가능(,를 마지막에 붙여줘야 함)

In [67]:
a

[10, 20, 30, 40, 50]

### 리스트 할당과 복사

In [70]:
a = [0, 0, 0, 0, 0]
b = a

In [71]:
b

[0, 0, 0, 0, 0]

In [74]:
b[2] = 2
b

[0, 0, 2, 0, 0]

In [75]:
a

[0, 0, 2, 0, 0]

In [76]:
a is b

True

In [79]:
a = [0, 0, 0, 0, 0]
b = a.copy()

In [80]:
b[2] = 2
a

[0, 0, 0, 0, 0]

In [81]:
b

[0, 0, 2, 0, 0]

In [82]:
a is b

False

반복문으로 출력하기

In [2]:
a = [10, 20, 30, 40]
for index, value in enumerate(a):
    print(index, value)

0 10
1 20
2 30
3 40

In [3]:
a.append(5)
a

[10, 20, 30, 40, 5]

In [5]:
# 가장 작은 수, 큰 수 구하기
small = a[0]
large = a[0]
for i in range(1, len(a)):
    if a[i] < small:
        small = a[i]
    if a[i] > large:
        large = a[i]
print(small, large)

5 40

In [6]:
a.sort()
a

[5, 10, 20, 30, 40]

In [7]:
print(a[0], a[-1])

5 40

In [11]:
a = [38, 21, 53, 62, 19]
print(min(a), max(a))

19 62

In [12]:
print(sum(a))

193

In [14]:
# 1에서 10까지 제곱수를 리스트로 만드시오
sq = []
for i in range(1,11):
    sq.append(i*i)
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
sq_new = [i*i for i in range(1, 11)]
sq_new

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
sq_new1 = [i*i for i in range(1,11) if i%2==1]

In [22]:
sq_new1

[1, 9, 25, 49, 81]

In [29]:
a = [i * k for i in range(2, 10) for k in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### map 함수

In [31]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [33]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = round(a[i])
a

[1, 2, 4, 5]

In [37]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [38]:
x = list(map(int, input('여러개의 정수입력> ').split()))
x

여러개의 정수입력> 10 20 30 40 50 60

[10, 20, 30, 40, 50, 60]

In [40]:
hour, minute, second = list(map(int, input('hh:mm:ss>').split(':')))
print(f'{hour=}, {minute=}, {second=}')

hh:mm:ss>11:30:10
hour=11, minute=30, second=10

In [42]:
hour, minute, second = list(map(int, input('hh:mm:ss>').split(':')))
print(hour, minute, second)

hh:mm:ss>11:22:33
11 22 33

In [44]:
year, month, day = list(map(int, input('yy-mm-dd>').split('-')))
print(f'{year=}, {month=}, {day=}')

yy-mm-dd>20-10-30
year=20, month=10, day=30

### 튜플

In [45]:
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [46]:
a[3]

62

In [47]:
a.count(21)

1

In [48]:
print(min(a), max(a), sum(a))

19 62 193

In [52]:
a = [38, 21, 53, 62, 19]
a.insert(len(a), 500)

In [53]:
a

[38, 21, 53, 62, 19, 500]

In [55]:
a[len(a):] = [600]
a

[38, 21, 53, 62, 19, 500, 600]

In [56]:
a[-1:] = [700]
a

[38, 21, 53, 62, 19, 500, 700]

In [57]:
a = (38, 21, 53, 62, 19)
a[:]

(38, 21, 53, 62, 19)

In [ ]:
a = input('1~20사이의 정수 입력> ')
b = input('10~30사이의 정수 입력> ')

for i in range(a, b)
    if