# Unit 25. 딕셔너리 응용하기

In [1]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.setdefault('e')
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}

In [2]:
x.setdefault('f', 100)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

In [3]:
# 값을 변경 혹은 추가할 경우 update 메소드를 사용
x.update(e=50) # 키 값이 문자열인 경우 이처럼 사용 가능
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 100}

In [4]:
x.update(a=900, f=60)
x

{'a': 900, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

In [5]:
y = {1: 'one', 2: 'two'}
y.update({1: 'ONE', 3: 'THREE'})
y

{1: 'ONE', 2: 'two', 3: 'THREE'}

In [6]:
y.update([[2, 'TWO'], [4, 'FOUR']])
y

{1: 'ONE', 2: 'TWO', 3: 'THREE', 4: 'FOUR'}

In [7]:
y.update(zip([1, 2], ['one', 'two']))
y

{1: 'one', 2: 'two', 3: 'THREE', 4: 'FOUR'}

In [9]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
z = x.pop('a')
x, z

({'b': 20, 'c': 30, 'd': 40}, 10)

In [10]:
z = x.pop('b', 0)
z

20

In [11]:
z = x.pop('z', 0)
z

0

In [12]:
x

{'c': 30, 'd': 40}

In [13]:
del x['c']
x

{'d': 40}

In [14]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.popitem()

('d', 40)

In [17]:
x.popitem()

('c', 30)

In [18]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.clear()
x

{}

In [21]:
# x['a']
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.get('a')

10

### 딕셔너리에서 키-값 쌍을 모두 가져오기

In [22]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [24]:
for key, value in x.items():
    print(key, value)

a 10
b 20
c 30
d 40

In [26]:
x.values()

dict_values([10, 20, 30, 40])

In [27]:
for key in x.keys():
    print(key, x[key])

a 10
b 20
c 30
d 40

In [30]:
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys)
x

{'a': None, 'b': None, 'c': None, 'd': None}

In [31]:
y = dict.fromkeys(keys, 100)
y

{'a': 100, 'b': 100, 'c': 100, 'd': 100}

### 딕셔너리와 for 반복문

In [32]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key, value in x.items():
    print(key, value)

a 10
b 20
c 30
d 40

In [34]:
for key in x.keys():
    print(key, x.get(key))

a 10
b 20
c 30
d 40

In [35]:
for value in x.values():
    print(value)

10
20
30
40

### 딕셔너리 표현식

In [43]:
keys = ['a', 'b', 'c', 'd']
x = {key: value for key, value in dict.fromkeys(keys, 0).items()}
x

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [44]:
{value: key for key, value in {'a': 10, 'b': 20, 'c': 30, 'd': 40}.items()}
# 맨 앞에 value: key로 설정하여 뽑아낸 값의 위치가 변경되어 결과값이 나왔다.

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [45]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key, value in x.items():
    if value == 20:    # 값이 20이면
        del x[key]     # 키-값 쌍 삭제
            # 이러한 경우 오류가 발생하므로 아래에 다시 사용한 방법을 사용해야 한다.
x

RuntimeError: dictionary changed size during iteration

In [46]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value != 20}
x

{'a': 10, 'c': 30, 'd': 40}

In [47]:
# Filtering
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value < 25}
x

{'a': 10, 'b': 20}

### Nested Dictionary

In [48]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
print(terrestrial_planet['Venus']['mean_radius'])

6051.8

In [56]:
for outer_key, outer_value in terrestrial_planet.items():
    print(outer_key)
    for inner_key, inner_value in outer_value.items():
        print('\t', inner_key, ':\t', inner_value, sep='')

Mercury
	mean_radius:	2439.7
	mass:	3.3022e+23
	orbital_period:	87.969
Venus
	mean_radius:	6051.8
	mass:	4.8676e+24
	orbital_period:	224.70069
Earth
	mean_radius:	6371.0
	mass:	5.97219e+24
	orbital_period:	365.25641
Mars
	mean_radius:	3389.5
	mass:	6.4185e+23
	orbital_period:	686.96

### 딕셔너리의 할당과 복사

In [61]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
y = x
y['d'] = 99

In [62]:
x

{'a': 10, 'b': 20, 'c': 30, 'd': 99}

In [63]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
y = x.copy()

In [64]:
y['d'] = 99
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [72]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
y = x.copy()
y['a']['python'] = '2.7.15'
print(x)
print(y)

{'a': {'python': '2.7.15'}, 'b': {'python': '3.6'}}
{'a': {'python': '2.7.15'}, 'b': {'python': '3.6'}}

In [73]:
import copy             # copy 모듈을 가져옴
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
y = copy.deepcopy(x)    # copy.deepcopy 함수를 사용하여 깊은 복사
y['a']['python'] = '2.7.15'
print(x)
print(y)

{'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
{'a': {'python': '2.7.15'}, 'b': {'python': '3.6'}}

In [40]:
keys = input().split()
values = map(int, input().split())

x = dict(zip(keys, values))
    
list_keys = []
list_values = []

for key, value in x.items():
    if key == 'delta' or value == 30:
        continue
    else:
        list_keys.append(key)
        list_values.append(value)
        
y = dict(zip(list_keys, list_values))
        
print(y)

alpha bravo charlie delta echo foxtrot golf
30 40 50 60 70 80 90
{'alpha': 30, 'bravo': 40, 'charlie': 50, 'delta': 60, 'echo': 70, 'foxtrot': 80, 'golf': 90}
{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}