# Unit 26. 세트 사용하기

In [3]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
type(fruits)

set

In [8]:
fruits = {'orange', 'orange', 'pineapple'}
fruits

{'orange', 'pineapple'}

In [9]:
fruits[0]

TypeError: 'set' object is not subscriptable

In [10]:
'orange' in fruits

True

In [11]:
'peach' in fruits

False

In [13]:
a = set('apple')    # 유일한 문자만 세트로 만듦
a

{'a', 'e', 'l', 'p'}

In [14]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [15]:
h = set('안녕하세요')
h

{'녕', '세', '안', '요', '하'}

### 접합 연산

In [16]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a | b

{1, 2, 3, 4, 5, 6}

In [17]:
a.union(b) # 합집합

{1, 2, 3, 4, 5, 6}

In [18]:
a & b

{3, 4}

In [19]:
a.intersection(b) # 교집합

{3, 4}

In [22]:
a - b

{1, 2}

In [23]:
a.difference(b)

{1, 2}

In [24]:
a ^ b

{1, 2, 5, 6}

In [25]:
set.symmetric_difference(a, b) # 대칭 차집합

{1, 2, 5, 6}

In [30]:
a |= {5}
a

{1, 2, 3, 4, 5}

In [31]:
a.update({6})
a

{1, 2, 3, 4, 5, 6}

In [33]:
a = {1, 2, 3, 4}
a &= {0, 1, 2, 3, 4}
a

{1, 2, 3, 4}

In [34]:
a = {1, 2, 3, 4, 5}

In [37]:
a.intersection_update({0, 1, 2, 3, 4})
a

{1, 2, 3, 4}

In [38]:
a -= {3}
a

{1, 2, 4}

In [42]:
a = {1, 2, 3, 4}
a.difference_update({3})
a

{1, 2, 4}

In [41]:
a = {1, 2, 3, 4}
a <= {1, 2, 3, 4}

True

In [48]:
a = {1, 2, 3, 4}

In [49]:
a.issubset({1, 2, 3, 4, 5})

True

In [50]:
a.issuperset({1, 2, 3, 4})

True

In [51]:
a == {4, 2, 1, 3}

True

In [52]:
a = {1, 2, 3, 4}
a.isdisjoint({5, 6, 7, 8})       # 겹치는 요소가 없음

True

In [54]:
a.isdisjoint({3, 4, 5, 6})    # a와 3, 4가 겹침

False

In [55]:
a.add(5)    # a |= {5}, a.update({5})
a

{1, 2, 3, 4, 5}

In [58]:
a = {1, 2, 3, 4}
a.remove(3)
a

{1, 2, 4}

In [59]:
a.remove(9)

KeyError: 9

In [66]:
a = {1, 2, 3, 4, 5}
a.discard(2)
a

{1, 3, 4, 5}

In [68]:
a.discard(9)
a

{1, 3, 4, 5}

In [79]:
a = {1, 2, 3, 4}
a.pop()

1

In [80]:
a

{2, 3, 4}

In [81]:
a.clear()
a

set()

In [82]:
a = {1, 2, 3, 4}
len(a)

4

In [83]:
a = {1, 2, 3, 4}
b = a

In [84]:
b.add(5)
a

{1, 2, 3, 4, 5}

In [85]:
a = {1, 2, 3, 4}
a = a.copy()
b.add(5)
a

{1, 2, 3, 4}

In [86]:
b

{1, 2, 3, 4, 5}

In [88]:
a = {4, 3, 2, 1}
for i in a:
    print(i)

1
2
3
4

In [89]:
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

In [90]:
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}

In [ ]:
표준 입력으로 양의 정수 두 개가 입력됩니다. 다음 소스 코드를 완성하여
두 숫자의 공약수를 세트 형태로 구하도록 만드세요.
단, 최종 결과는 공약수의 합으로 판단합니다.

In [10]:
x = int(input('첫 번째 양의 정수 입력> '))
y = int(input('두 번째 양의 정수 입력> '))

a = {i for i in range(1, x+1) if x % i == 0}
b = {i for i in range(1, y+1) if x % i == 0}
    
divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

첫 번째 양의 정수 입력> 100
두 번째 양의 정수 입력> 200
217

In [7]:
a = {i for i in range(1, 101) if i % 3 == 0}
b = {i for i in range(1, 101) if i % 5 == 0}

print(a & b)

{75, 45, 15, 90, 60, 30}