# Unit 29. 함수 사용하기

### 함수 만들고 호출하기

In [4]:
def hello():
    print('Hello, world!')

In [5]:
for i in range(3):
    hello()

Hello, world!
Hello, world!
Hello, world!

In [28]:
def add(a, b):
    print(a + b)
    
print(add(10, 20))

30
None

In [18]:
def add_1(a, b):
    """이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다."""
    return a + b

In [24]:

print(add_1(10, 30))
print(add_1.__doc__)

40
이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [ ]:
### 함수의 결과를 번환하기

In [29]:
def add_2(a, b):
    return a + b

In [31]:
c = add_2(10, 20)
c

30

In [35]:
# return으로 함수 중간에서 빠져나오기
def not_ten(a):
    if a == 10:
        return
    print(f'{a}는 10이 아닙니다.')

In [40]:
not_ten(5)

5는 10이 아닙니다.

In [46]:
def add_sub(a, b):
    return a + b, a - b

In [47]:
x, y = add_sub(40, 30)
print(x, y)

70 10

In [48]:
t = add_sub(40, 30)    # t로 받는 경우 튜플형태로 결과값이 출력
t

(70, 10)

In [49]:
x, _ = add_sub(40, 30)    # 두 번째 리턴값은 사용하지 않겠다는 의미

In [50]:
x

70

In [51]:
print(x, y)
print(t)
print(x)

70 10
(70, 10)
70

### 재귀 호출

In [52]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

In [53]:
factorial(5)

120

In [54]:
def fibo(n):
    if n == 0 or n == 1:
        return 1
    return fibo(n-1) + fibo(n-2)

In [55]:
for i in range(1, 10):
    print(i, fibo(i))

1 1
2 2
3 3
4 5
5 8
6 13
7 21
8 34
9 55

In [56]:
def series(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    return 3 * series(n-1) + 5 * series(n-2)

In [58]:
for i in range(1, 11):
    print(i, series(i))

1 1
2 3
3 14
4 57
5 241
6 1008
7 4229
8 17727
9 74326
10 311613

In [ ]:
표준 입력으로 정수 한 개가 입력됩니다(입력 값의 범위는 10~30).
다음 소스 코드를 완성하여 입력된 정수에 해당하는 피보나치 수가 
출력되게 만드세요.
피보나치 수는 0과 1로 시작하며,
다음 번 피보나치 수는 바로 앞의 두 피보나치 수의 합입니다.

In [67]:
n = int(input('10~30사이의 정수 입력> '))

def fib(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    return fib(n-1) + fib(n-2)

print(fib(n))

10~30사이의 정수 입력> 20
6765

In [72]:
x, y = map(int, input().split())

def calc(x, y):
    
    return x + y, x - y, x * y, x / y


a, s, m, d = calc(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))

10 20
덧셈: 30, 뺄셈: -10, 곱셈: 200, 나눗셈: 0.5